.carousel {
    padding-left: 20px;
    color: #0d0d0d;
}

.home_grid_container {
    background-color: #709e9f;
    color: #709e9f;
    padding: 10px;
    margin: auto;
}

.home_grid_component {
    background-color: #709e9f;
    padding: 10px;
    margin: auto;
}
