@import url("https://fonts.googleapis.com/css?family=Alatsi|Libre+Baskerville|Roboto:400,400i&display=swap");
.container {
  padding-top: 1cm;
}

.body {
  min-width: 500px;
}

.image {
  padding-top: 2px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clubName {
  text-align: center;
  font-family: "Alatsi", sans-serif;
}

.sub {
  font-family: "Libre Baskerville", serif;
}

@media (max-width: 991px) {
  .image {
    padding-top: 2px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media (max-width: 770px) {
  .image {
    padding-top: 2px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media (max-width: 490px) {
  .image {
    padding-top: 2px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
