@import url("https://fonts.googleapis.com/css?family=Alatsi|Libre+Baskerville|Roboto:400,400i&display=swap");
.container {
  padding-top: 1cm;
}

.image {
  padding-top: 2px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clubName {
  text-align: center;
  font-family: "Alatsi", sans-serif;
}

.sub {
  font-family: "Libre Baskerville", serif;
}
